
// SLIDER 

#slider-home{

    .slider{
        background-color: #ef4d48;
        background-image: url(/img/slider/image.png);
        background-size: cover;
        display: flex;
        justify-content: center;

            .slider-contenido{
                max-width: 1000px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 40px 0;
                background-color: #ef4d48;
                
                h1,p{
                    margin: 0;
                    color: #fff;
                    text-align: center;
                    padding: 20px 20px;
                }
    
                h1{
                    font-size: 70px;
                    font-family: 'Paytone One', sans-serif;
                }
        
                p{
                    color: #fff;
                    font-size: 30px;
                    font-weight: 600;
                    padding-top: 10px;
                }
    
            }
        
    }

    .backgroundroto-top{
        transform: rotate(180deg);
        margin-top: -1px;
        z-index: -1;
        position: relative;

        img{
            width: 100%;
        }
    }

    
}


// SLIDER MOBILE

@media (max-width: 768px) {

    #slider-home{
        margin-top: 99px;

        .slider{
            align-items: center;
            padding-bottom: 20px;
    
            .slider-contenido{
                padding: 0;
            
    
                h1{
                    font-size: 35px;
                    padding-top: 20px;
                }
        
                p{
                    padding-bottom: 20px;
                    padding-top: 10px;
                    font-size: 25px;
                }
    
            }
            
        }

        .backgroundroto-top{
    
            img{
                width: initial;
            }
        }
        
    }  

}


// WIDGET CATEGORIAS

//General

.widget-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background-color: #F5F6F7;

    h2{
        text-align: center;
        font-family: "Paytone One",sans-serif;
        font-size: 60PX;
        color: #ef4d48;
        margin-bottom: 0;
    }

    p{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: #2E2E2E;
        margin-bottom: 50px;
    }
    
    .categorias{
        ul{
            display: flex;
            justify-content: center;
            gap: 0px 30px;
            flex-wrap: wrap;

            li{
                display: flex;
                flex-direction: column;
                align-items: center;

                a{
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &:hover{

                        .categorias-circulo{
                            background-color: #fff;
                            transition: all 0.5s ease;
        
                            svg{
                               color: #ef4d48;
                               transform: scale(0.9);
                               transition: all 0.5s ease;
                            }
                        }

                    }

                    h3{
                        text-decoration: none;
                        font-size: 25px;
                        color: #2E2E2E;
                    }
            
                    .categorias-circulo{
                        border: 4px solid #ef4d48;
                        border-radius: 200px 200px 200px 200px;
                        -moz-border-radius: 200px 200px 200px 200px;
                        -webkit-border-radius: 200px 200px 200px 200px;
                        background-color: #ef4d48;
                       
                        &.rol{
                            height: 130px;
                            svg{
                                height: 100%;
                                padding-top: 0;
                            }
                        }   

                        svg{
                           width: 100px !important;
                           color: #fff;
                           padding: 15px;
                        }
                    }

                }
                      
            }
        }
    }
}

//Escritorio    

@media (min-width: 769px) {

    .widget-categorias{
    
        p{
            max-width: 1000px;
        }
    }
}

//Mobile
@media (max-width: 768px) {

    .widget-categorias{
        padding: 0px 20px;

        h2{
            font-size: 40px;
        }

        p{
            font-size: 20px;
        }

        .categorias{
            ul{
                padding: 0;

                li{
                    width: 40%;

                    h3{
                        text-align: center;
                    }
                }
            }
        }

    }

}

// WIDGET BANNER CTA 

.widget-banner.cta{

    p,a{
        color: #fff;
    }

    div:first-child{
        border: 0;

        p{
            font-family: "Paytone One",sans-serif;
            font-size: 40px;
            font-weight: 100;
        }
    }

    div:nth-child(2){
        a{
            font-size: 22px;
            text-decoration: none;
            padding: 20px 40px;
            background-color: #fff;
            color: #ef4d48;
            font-weight: bold;
            border-radius: 3em;
            border: 3px solid #ef4d48;

            &:hover{
                background-color: transparent;
                color: #fff;
                border: 3px solid #fff;
                transition: all 0.5s ease;
            }
        }
    }

    >div{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

}

@media (max-width: 768px) {

    .widget-banner.cta{
        padding: 30px 0px;

        >div{
            flex-direction: column;
            padding: 0;

            >div:first-child{
                margin-bottom: 15px;
                p{
                    font-size: 30px;
                    text-align: center;
                    padding: 0 20px;
                }
                
            }
        }

        
    }

}

//WIDGET DESTACADOS

.widget-destacados{
    background-color: #F5F6F7;
    padding-bottom: 70px;
    
    .titulo-destacados{
        h2{
            text-align: center;
            font-family: "Paytone One",sans-serif;
            font-size: 60px;
            color: #ef4d48;
            margin: 0;
            padding-top: 50px;
        }

        p{
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            color: #2e2e2e;
            margin-bottom: 80px;
        }
    }

    .fila-destacados{
        display: flex;
        justify-content: center;
        gap: 0 30px;
        margin-bottom: 80px;

        .caja-destacado{
            display: flex;
            flex-direction: column;
            align-items: center;
    
            >a{
                background-color: #fff;
                height: 300px;
                width: 300px;
                border-radius: 25px 25px 25px 25px;
                -moz-border-radius: 25px 25px 25px 25px;
                -webkit-border-radius: 25px 25px 25px 25px; 
                display: flex;
                flex-direction: column;
                align-items: center; 
                
                &:hover{
                    img{
                        transition: all 0.25s ease-in-out;
                        transform: scale(1.1, 1.1);
                    }

                    &+.precio-destacado{
                        a{
                            transition: all 0.25s ease-in-out;
                            color: #ef4d48;
                        }
                    }
                }
            }

            .precio-destacado{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                a{
                    width: 300px;
                    text-align: center;
                    padding: 30px 0px;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 900;
                }

                span{
                    font-size: 20px;
                    font-weight: 500;
                    color: #646672;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .widget-destacados{

        .titulo-destacados{
            padding: 0 20px;
            h2{
                font-size: 40px !important;
            }

            p{
                font-size: 20px !important;
            }
        }

        .fila-destacados{
            flex-direction: column;
            gap: 40px 0px;
        }
       


    }

}

// WIDGET BANNER

.backgroundroto-top{
    z-index: -1;
    position: relative;

    img{
        background-color: #F5F6F7;
        width: 100%;
    }
} 

.backgroundroto-top.normal{
    margin-bottom: -1px;
}

.backgroundroto-top.inverso{
    transform: rotate(180deg);
    margin-top: -2px;
    z-index: -1;
    position: relative;
} 


.widget-banner{
    padding: 70px 0px;
    background-color: #ef4d48;
    display: flex;
    justify-content: center;
    
    >div{
        display: flex;
        padding: 20px 50px;
        border-right: 2px solid #fff;

        svg{
            width: 60px;
            color: #fff;
            margin-right: 20px;
        }

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;

            p{
                color: #fff;
                font-size: 24px;
                margin: 0;
                font-weight: 600;
            }

            p:nth-child(2){
                font-size: 20px;
                margin-top: 5px;
            }

        }
       
    }

    >div:last-child{
        border-right: 0;
    }
}

@media (max-width: 768px) {

    .widget-banner{
        flex-direction: column;

        >div{
            border-right: 0;
        }
    }

}


// WIDGET TEXTOS HOME

.widget-textoshome{
    background-color: #F5F6F7;
    display: flex;
    align-items: center;
    padding: 120px 140px;

    >div{
        width: 50%;
    }

    .textoshome-img{
        img{
            width: 100%;
        }
    }

    .textoshome-txt{
        padding-right: 100px;

        h2{
            margin: 0;
            font-family: "Paytone One",sans-serif;
            font-size: 45px;
            color: #ef4d48;
        }

        p{
            font-size: 20px;
            font-weight: 500;

            a{
                color:#ef4d48;
            }
        }
    }

}

.widget-textoshome-izquierda{
    .textoshome-txt{
        padding-right: 0 !important;
        padding-left: 100px;
    }
}

@media (max-width: 768px) {
    .widget-textoshome{
        flex-direction: column;
        padding: 0px 20px;

        >div{
            width: 100%;
        }

        .textoshome-txt{
            padding-right: 0;
            margin: 40px 0px;

            h2{
                font-size: 35px;
            }

            p{
                font-size: 20px;
            }
        }

        .textoshome-img{

        }

    }

    .widget-textoshome-izquierda{
        margin-top: 40px;
        
        .textoshome-txt{
            padding-left: 0;
        }
    }
}





